@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

#inline{
    display: inline-block
}
header{
    position: relative;
    text-align: center;
}
ul{
    list-style: none;
    padding: 1%;
    display: inline-flex;
    border: solid 0.5px gray;
    width: 900px;
}
li{
    margin: 3px;
    font-size: medium;
}
a{
    color:#888888;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}
.newspaper-container{
    max-width: 1100px;
    border-radius: 30px;
    max-height: 80%;
    background-color: ghostwhite;
    text-align: center;
    margin: auto;
  padding: 10px;
  box-shadow: 5px 5px #888888;
}
body{
   
}
html{
    background-color: lightgrey;
}
nav{
    display: inline;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
